.grid {
    width: 100%;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 120px;
}

.grid.card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}
